io4.log.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="urn:oid:1.3.6.1.4.1.37553.8.1.8.8.53354196964.24196.1714020422"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element type="xs:string" name="log-subject" />	
<xs:element type="xs:string" name="log-verb" />		
<xs:element type="xs:string" name="log-object" />		
<xs:element type="xs:string" name="log-value" />	
